.footer {
  margin: var(--spacing-xsmall);
  padding: var(--spacing-large);
  border-radius: 12px;

  background-color: var(--color-neutral-30);
  color: var(--color-white);

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-small);
}
